body {
  background-color: darkgray;
}

h1 {
  margin-left: 600px;
  font-size: 60px;
  color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  background-color: red;
  border-radius: 100px;
}
